body {
    font-family: 'Roboto Slab', serif;
    background-color: #353d41;
}

h1, span {
    color: azure;
    width: 50%;
    margin: auto;
    text-align: center;
}

#input-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#mock-up-input {
    border-radius: 0.6em;
    background: aliceblue;
    padding: 0.4em;
    cursor: pointer;
}

#upload-image {
    display: none;
}

#image-holder {
    max-width: 19em;
    max-height: 19em;
    padding: 3em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

#button-ready {
    height: 2.7em;
    border: none;
    border-radius: 0.6em;;
    cursor: pointer;
    margin-left: auto;
    background: aliceblue;
}

#canvas {
    opacity: 0;
}

#result-container {
    white-space: pre;
    font-size: 10px;
    width: fit-content;
    letter-spacing: -3px;
    margin: auto;
    line-height: 1em;
}

#image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
}

.input-size {
    border: dashed aliceblue;
    border-radius: 0.6em;;
    color: aliceblue;
    cursor: pointer;
}

.form-radio {
    display: flex;
}

.buttons-container {
    margin-top: 3%;
    display: flex;
}
